@using InventoryWeb.Utilities;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccesor;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebInventario</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"/> 
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css"/>



    <style>
        .navbar, .container {
            font-size: 20px;
            font-family: Roboto;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-5 fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        @if (User.IsInRole(DS.Role_Admin) || User.IsInRole(DS.Role_Inventario))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mantenimiento
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @if (User.IsInRole(DS.Role_Admin))
                                    {
                                        <a class="dropdown-item"
                                           asp-area="Admin"
                                           asp-controller="Bodega"
                                           asp-action="Index">
                                            <i class="fas fa-home"></i>
                                            Bodegas
                                        </a>
                                        <div class="dropdown-divider bg-light"></div>

                                        <a class="dropdown-item"
                                           asp-area="Admin"
                                           asp-controller="Categoria"
                                           asp-action="Index">
                                            <i class="fas fa-cogs"></i>
                                            Categorías
                                        </a>
                                        <div class="dropdown-divider bg-light"></div>
                                        <a class="dropdown-item"
                                           asp-area="Admin"
                                           asp-controller="Marca"
                                           asp-action="Index">
                                            <i class="fas fa-award"></i>
                                            Marcas
                                        </a>

                                        <div class="dropdown-divider bg-light"></div>
                                    }
                                    @if (User.IsInRole(DS.Role_Admin) || User.IsInRole(DS.Role_Inventario))
                                    {
                                        <a class="dropdown-item"
                                           asp-area="Admin"
                                           asp-controller="Producto"
                                           asp-action="Index">
                                            <i class="fas fa-cog"></i>
                                            Productos
                                        </a>
                                        <div class="dropdown-divider bg-light"></div>
                                    }
                                    @if (User.IsInRole(DS.Role_Admin))
                                    {
                                        <a class="dropdown-item"
                                           asp-area="Admin"
                                           asp-controller="Usuario"
                                           asp-action="Index">
                                            <i class="fas fa-user-lock"></i>
                                            Usuarios
                                        </a>
                                        <div class="dropdown-divider bg-light"></div>
                                    }
                                    @if (User.IsInRole(DS.Role_Admin))
                                    {
                                        <a class="dropdown-item"
                                           asp-area="Admin"
                                           asp-controller="Compania"
                                           asp-action="Index">
                                            <i class="fas fa-building"></i>
                                            Compañías
                                        </a>
                                    }

                                </div>
                            </li>
                        }
                        @if (User.IsInRole(DS.Role_Admin) || User.IsInRole(DS.Role_Inventario))
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-area="Inventario"
                                   asp-controller="Inventario"
                                   asp-action="Index">
                                    Inventario
                                </a>
                            </li>
                        }


                        @if (User.IsInRole(DS.Role_Admin)
                        || User.IsInRole(DS.Role_Inventario)
                        || User.IsInRole(DS.Role_Ventas))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="#">Consultas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Reportes</a>
                            </li>
                        }
                        @if (HttpContextAccesor.HttpContext.Session.GetInt32(DS.ssCarroCompras) != null)
                        {
                            <li>
                                <a asp-area="Inventario" asp-controller="CarroCompras" asp-action="Index" class="nav-link">
                                    @{
                                        var cantidadProducto = HttpContextAccesor.HttpContext.Session.GetInt32(DS.ssCarroCompras);
                                    }
                                    <i class="fas fa-shopping-cart"></i>
                                    &nbsp;(@cantidadProducto)
                                </a>
                            </li>
                        }
                        @*else
                        {
                            <li>
                                <a href="#" class="nav-link">
                                    <i class="fas fa-shopping-cart"></i>
                                    &nbsp;(0)
                                </a>
                            </li>
                        }*@
                    </ul>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-primary text-white-50 fixed-bottom">
        <div class="container" style="font-size:16px;">
            &copy; 2022 - Distribuidora Acme, Nicoya, Guanacaste
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
    



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
